@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');

html, body, #app {
    height: 100%;
}

.content {
    margin-top: 40px;
}

body {
    font-family: 'Encode Sans', sans-serif;
    background: #fafafa;
    background-image: url('../assets/Pet_blog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
}

/* forms */
/* form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
    border: 1px solid lightgray;
    background: white;
}

input, textarea {
    border: 0;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
} */