@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Encode Sans', sans-serif;
    background: #fafafa;
    background-image: url('../assets/Pet_blog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
}